.d1{
    width: 200px;
    height: 200px;
    background-color: tomato;
    margin:100px auto;
    animation-name:square;
    animation-duration: 4s;
    position: relative;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-fill-mode: backwards ;
    animation-play-state: running;
}

@keyframes square {
    from {background-color: tomato;}
    to {background-color: green;}
}

.d2{
    width: 200px;
    height: 200px;
    background-color: tomato;
    margin:100px auto;
    position:relative;
    animation-name:round;
    animation-duration: 5s;
}

@keyframes round {
    0%{
        background-color: tomato;
        right: 0px;
        left: 0px;
    }
    25%{
        background-color: green;
        right:500px;
        left:0px;
    }
    50%{
        background-color: cyan;
        right: 500px;
        left:500px;
        border-radius:50%;
    }
    75%{
        background-color:blue;
        right: 500px;
        left:0px;
    }
    100%{
        background-color:chartreuse;
        right: 0px;
        left: 0px;
        border-radius: 0%;
    }
}

.d3{
    width: 200px;
    height: 200px;
    background-color:darkcyan;
    position: relative;
    margin:100px auto;
    animation: circle 3s linear 2s infinite alternate backwards running;
    
}
@keyframes circle {
    0%{
        background-color: tomato;
        right: 0px;
        left: 0px;
    }
    25%{
        background-color: green;
        right:500px;
        left:0px;
    }
    50%{
        background-color: cyan;
        right: 500px;
        left:500px;
        border-radius:50%;
    }
    75%{
        background-color:blue;
        right: 500px;
        left:0px;
    }
    100%{
        background-color:chartreuse;
        right: 0px;
        left: 0px;
        border-radius: 0%;
    }
}

.d4{
    width: 200px;
    height: 200px;
    border:5px blue solid;
    margin:100px auto;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    animation: d4 infinite 2s forwards;
}
@keyframes d4 {
    0%{
        border-color:brown;
        transform:scale(1);
    }
    25%{
        border-color:aqua;
        transform:scale(1.2);
    }
    50%{
        border-color:burlywood;
        transform:scale(1.3);
    }
    75%{
        border-color:chartreuse;
        transform:scale(1.4);
    }
    100%{
        border-color:cornflowerblue;
        transform:scale(1.5);
    }
}

.circle{
    width: 100px;
    height: 100px;
    border:5px blue solid;
    animation: circle 2s infinite alternate; 
}
@keyframes circle {
    0%{
        transform:rotate(0deg);
        border-width: 5px;
    }
    25%{
        border-color:black;
        border-width: 8px;
    }
    50%{
        border-color:brown;
        border-width: 11px;
    }
    75%{
        border-color:darkkhaki;
        border-width: 14px;
    }
    100%{
        transform:rotate(360deg)
    }
}