.ul1{
    list-style-type: square;
}
.ul2{
    list-style-type: lower-roman;
}
.ul3{
    list-style-type: upper-alpha;
}
.ul4{
    list-style-type:decimal;
    list-style-position: inside;
}
.ul5{
    list-style-type:decimal;
    list-style-position: outside;
}
.ul6{
    list-style: square inside;
}