body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: aqua;
}

.d1{
    background-color: chocolate;
    color:white;
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    padding: 30px 80px;
    margin-top: 50px;
    border-radius: 5%; 
    box-shadow: 0 4px 8px 0;
    border: 3px solid black;
}

.d1 input{
    padding:5px 50px;
    border-color:yellowgreen;
    border-radius: 30%;
}

input{
    font-weight: bold;
}