h1{
    color:darkgreen;
    background-color:bisque
    
}
.p1{
    color:brown;
    text-transform: uppercase;
}
.p2{
    color:brown;
    text-transform: lowercase;
}
.p3{
    color:black;
    text-transform: capitalize;
    text-indent: 40px;
}
.p4{
    color:chartreuse;
    text-transform: capitalize;
    letter-spacing: 5px;
    word-spacing:20px;
    line-height: 40px;
}